area_analyzer/
cad_ex/
cad_exe/
dirner/
dirser/
evo_addhoc_view/
evo_signal/
exe_gtengine/
eyetask/
filemag/
handtext/
inforce/
inforce_exe/
infrastructure/
opencv_test_exe/
photo_map/
recog/
selforgmap/
snakes/
test_evo/
tlibs/
ttextrender/
*.1
*.o
*.stash
*.Debug
*.Release
*.a
*.0
*.so
Makefile*
storage_base/debug/
storage_base/release/
storage/debug/
storage/release/
cad/debug/
cad/release/
scene3d/debug/
scene3d/release/


